 # .gitignore for .NET / Visual Studio

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log
SqlSugarLog.txt

# NuGet
packages/
*.nupkg
*.nuget.props
*.nuget.targets

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/